[Desktop Entry]
Version=1.0
Name=Eclipse 4.2.2 (Juno SR2) 
Type=Application
Comment=Eclipse Tools Platform
Exec={{home}}/kdo/eclipse/eclipse
TryExec={{home}}/kdo/eclipse/eclipse
Icon={{home}}/kdo/eclipse/icon.png
Categories=Development;
