[Desktop Entry]
Version=1.0
Name=Eclipse Kepler SR1
Type=Application
Comment=Eclipse Tools Platform
Exec=/home/asilva/kdo/eclipse/eclipse
TryExec=/home/asilva/kdo/eclipse/eclipse
Icon=/home/asilva/kdo/eclipse/icon.png
Categories=Development;

